body,
html {
    min-height: 100%;
    height: 100%;
    background-color: lightcyan;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#crowbar {
    width: 550px;
    height: 15px;
    /* border: 2px solid #A42B3D; */
    transform: rotate(58deg);
    background-color: #A42B3D;
    box-sizing: border-box;  
    /* box-shadow: 0 21px 42px -17px #F1D3CE, 0 43px 99px 9px; */
    border-bottom:1px solid white;  
    box-shadow: 0 15px #8D2333;

}

#crowbar::before,
#crowbar::after {
    content: '';   
    display: flex;
    position: relative;
    width: 150px;
    height: 115px;
    border-radius: 42% 0 0 46%;
    border: 15px solid grey;
    border-bottom: none;
    border-right: none;
    /* codar 2 caixas */ 

}

#crowbar::before {
    right: 151px;
    /* bottom: 1.5px; */
    border-radius: 67% 0 0 70%;
    box-shadow: inset 22px 9px darkgrey;
    /* usar border-radius pra definir curvatura ; */
}

#crowbar::after {
    content: '';
    left: 548px;
    bottom: 262.75px;
    border-radius: 67% 0 0 70%;
    transform: rotate(179deg);
    }

