body,
html {
    min-height: 100%;
    height: 100%;
    background-color: lightcyan;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#crowbar {
    width: 550px;
    height: 30px;
    border: 2px solid red;
    transform: rotate(58deg);
    background-color: red;
    box-sizing: border-box;

}

#crowbar::before,
#crowbar::after {
    content: '';   
    display: flex;
    position: relative;
    width: 150px;
    height: 115px;
    border-radius: 42% 0 0 46%;
    border: 30px solid grey;
    border-bottom: none;
    border-right: none;
    /* codar 2 caixas */ 

}

#crowbar::before {
    right: 151px;
    bottom: 1.5px;
    /* usar border-radius pra definir curvatura ; */
}

#crowbar::after {
    content: '';
    left: 548px;
    bottom: 262.75px;
    transform: rotate(179deg);
    }

