body,
html {
    min-height: 100%;
    height: 100%;
    background-color: chocolate;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.toaster {
    height: 250px;
    width: 250px;
    background-color: beige;
    border-top-left-radius: 88px;
    border-top-style: solid;
    border-top-right-radius: 88px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

